@model IEnumerable<AspNetMVC.Models.Post>

@{
    ViewBag.Title = ViewBag.PostType;
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('@Url.Content("~/images/home-bg.jpg")') ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@ViewBag.PostType</h1>
                    <hr class="small">
                    <span class="subheading">歡迎瀏覽 @ViewBag.PostType</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            @Html.Partial("_NotificationPartial")

            @if (Request.IsAuthenticated)
            {
                <div class="text-right">
                    <a href="@Url.Action("Create","Posts")" class="btn btn-primary" role="button">新增</a>
                </div>
            }

            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("Details","Posts",new {id=item.id})">
                        <h2 class="post-title">
                            @item.title
                        </h2>
                    </a>
                    <h3 class="post-subtitle"></h3>
                    <p class="post-meta">
                        由
                        <a href="@Url.Action("_User","Posts",new {id= item.user_id}) ">@item.user.UserName</a>
                        發表於 @item.created_at.ToString()
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->

        </div>
    </div>
</div>
